@* SitefinityWebApp\ResourcePackages\DevMagazineHtml\Mvc\Views\Layouts\DevMagazine.cshtml *@

@using System.Web.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;

<!DOCTYPE html>
<html>

<head>
    <meta @Html.RenderLangAttribute() />
    <title></title>
    <link rel="stylesheet" href="~/ResourcePackages/DevMagazineHtml/assets/dist/css/styles.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Html.Section("head")
</head>

<body>
    @Html.Section("top")

    <div class="navbar navbar-default js-nav-fixed">
        <div class="container-fluid">
            @Html.SfPlaceHolder("Navigation")
        </div>
    </div>

    <div class="Main-content section">
        @Html.SfPlaceHolder("MainSections")

        <section class="section">
            <div class="container">

                <h4 class="text-center">Follow us</h4>

                <ul class="Social list-unstyled">
                    <li>
                        <a href="" class="icon-facebook"></a>
                    </li>
                    <li>
                        <a href="" class="icon-twitter"></a>
                    </li>
                    <li>
                        <a href="" class="icon-google"></a>
                    </li>
                    <li>
                        <a href="" class="icon-linkedin"></a>
                    </li>
                </ul>

            </div>
        </section>

    </div>

    @if (!SystemManager.IsDesignMode || SystemManager.IsPreviewMode)
    {
            @Html.Script(ScriptRef.JQuery, "top")
    }

    @* Inline editing scripts and helpers. They should be available only when inline editing is possible. *@
    @if (Html.ShouldRenderInlineEditing())
    {
        @Html.Script(ScriptRef.MicrosoftAjax, "top")
        @Html.Script(ScriptRef.MicrosoftAjaxCore, "top")

        @Html.Script(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.jquery.ba-outside-events.min.js"), "top")
        @Html.Script(ScriptRef.KendoAll, "top")
        @Html.Script(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.RequireJS.require.min.js"), "top")
        @Html.InlineEditingManager(false)
    }

    <script src="~/ResourcePackages/DevMagazineHtml/assets/dist/js/all.min.js"></script>

    @Html.Section("bottom")
</body>
</html>